.edit-note_container {
    border: 1px solid grey;
    padding: 5px 20px;
    margin: 40px;
    border-radius: 5px;
}

.edit-note-heading {
    padding: 0px;
    margin: 0px auto 30px auto;
    font-size: 75px;
    width: max-content;
}

.edit-note_form {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 20px;
}

.column-one {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.edit-note-preview {
    border: 1px solid grey;
    margin: none;
    padding: 5%;
    border-radius: 15px;
    width: calc(100% - 10%);
    height: max-content;
    overflow: auto;
    box-sizing: border-box;
}

.edit-note-preview p {
    width: 100%;
    word-wrap: break-word;
}

.edit-note_submit {
    width: max-content;
    padding: 5px 30px;
    margin: 30px 0px 0px 10px;
    border-radius: 15px;
    border: none;
    background-color: grey;
    color: white;
}

.edit-note_submit:hover {
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.column-two {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 90%;
}

.edit-note_input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
}

.body {
  height: 250px;
  width: 100%;
  resize: none;
  overflow: auto;
}
