.new-note_container {
    border: 1px solid grey;
    padding: 5px 20px;
    margin: 40px;
}

.new-note-heading {
    padding: 0px;
    margin: 0px 0px 30px 0px;
    font-size: 75px;
}

.new-note_form {
    display: grid;
    grid-template: auto / 50% 50%;
}

.new-note-preview {
    border: 1px solid grey;
    border-radius: 15px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.new-note_submit {
    width: max-content;
    padding: 5px 30px;
    margin: 30px 0px;
    border-radius: 15px;
    border: none;
    background-color: grey;
    color: white;
}

.column-one {
    display: flex;
    flex-direction: column;
}

#body {
  height: 250px;
  width: 75%;
  resize: none;
  overflow: auto;
}

.column-two {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.new-note_input {
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 5px;
}