* {
  font-family: Avenir;
  /* border: 1px solid red; */
}

body{
  margin: 0;
  /* min-height: fit-content; */
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

main {
  margin: 0 40px;
}