* {
  font-family: Avenir;
  margin: 0;
  /* border: 1px solid red; */
}

nav {
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.new-note_container {
    border: 1px solid grey;
    padding: 5px 20px;
    margin: 40px;
}

.new-note-heading {
    padding: 0px;
    margin: 0px 0px 30px 0px;
    font-size: 75px;
}

.new-note_form {
    display: grid;
    grid-template: auto / auto auto;
}

.new-note-preview {
    border: 1px solid grey;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.new-note_submit {
    width: max-content;
    padding: 5px 30px;
    margin: 30px 0px;
    border-radius: 15px;
    border: none;
    background-color: grey;
    color: white;
}

.column-one {
    display: flex;
    flex-direction: column;
}

.column-two {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.new-note_input {
    margin-top: 5px;
}

.filters {
  height: 50px;
  background: slategray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  height: 20px;
  width: 400px;
  border: 1px solid gray;
  border-radius: 100px;
  text-indent: 10px;
}